* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  /* place-content: center; */
  background-color: hsl(0, 0%, 10%);
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

section {
  padding: 100px;
  background-color: #f2e8c6;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.container {
  --gw: 600px;
  --gh: 600px;
  --p: 2rem;
  --t: 1s;

  --mask-width: 230px;
  --mask-height: 230px;

  /* aspect-ratio: 1; */

  display: grid;
  justify-content: center;
  position: relative;
  height: var(--mask-height);
}

.mask {
  width: var(--mask-width);
  height: var(--mask-height);
  padding-block: var(--p);

  display: flex;
  /* overflow: hidden; */
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    120deg,
    rgb(143, 180, 255),
    rgb(255, 143, 148)
  );
}

.gallery {
  position: relative;
  width: var(--gw);
  height: var(--gh);
  rotate: 0deg;
  transition-property: transform;
  transition-duration: var(--t);
}

.gallery .slide {
  height: calc(var(--gh) / 2);
  width: 150px;

  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  display: flex;
  transform-origin: bottom center;

  display: none;
}

.gallery .slide .image {
  --image-h: 150px;

  height: var(--image-h);

  border-radius: 1rem;

  width: 100%;
  text-align: center;
  background-color: green;
}

.gallery .slide:nth-child(1) {
  /* rotate: 240deg; */
  rotate: 360deg;
  display: block;
}

.gallery .slide:nth-child(2) {
  rotate: 60deg;
  /* rotate: 300deg; */
  display: block;
}

.gallery .slide:nth-child(3) {
  /* rotate: 360deg; */
  rotate: 120deg;
  display: block;
}

.gallery .slide:nth-last-child(1) {
  /* rotate: 60deg; */
  rotate: 300deg;
  display: block;
}

.gallery .slide:nth-last-child(2) {
  /* rotate: 60deg; */
  rotate: 240deg;
  display: block;
}

/* .gallery .slide:nth-child(5) {
  rotate: 120deg;
} */

/* .gallery .slide:nth-child(6) {
  rotate: 180deg;
} */

.prev-btn,
.next-btn {
  all: unset;
  height: 40px;
  padding: 0.5rem;
  color: white;
  background-color: #0c356a;
}

.prev-btn {
  position: absolute;
  margin-right: 100px;
  left: 0;
  top: 200px;
}

.next-btn {
  position: absolute;
  right: 0;
  top: 200px;
}

.dot {
  position: relative;
  z-index: 1000;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #ec9d7e;
}
